
/***********************************************************************************
  
Setup
  
************************************************************************************/

html,
body {
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
}

/***********************************************************************************
  
Typography
  
************************************************************************************/

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-size: 38px;
    
    margin-bottom: 22px;
}

h2 {
    font-size: 28px;
    
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 50px;
}

h1 a,
h2 a,
h3 a {
    border-bottom: 1px solid;
    font-weight: 700;
}

p {
    line-height: 1.4;
    
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #3498db;
    transition-duration: 0.25s;
}

p a,
strong {
    font-weight: 700;
}

/***********************************************************************************
  
Icons
  
************************************************************************************/

@font-face { 
    font-family: "ionicons"; 
    src: url("../icons/ionicons.eot?v=1.4.1"); 
    src: url("../icons/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), 
         url("../icons/ionicons.ttf?v=1.4.1") format("truetype"), 
         url("../icons/ionicons.woff?v=1.4.1") format("woff"), 
         url("../icons/ionicons.svg?v=1.4.1#Ionicons") format("svg"); 
    font-weight: normal; 
    font-style: normal; 
}

.icon { 
    font-family: "ionicons"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    text-rendering: auto; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    
    display: inline-block; 
}

.icon.twitter:before { content: "\f243"; }
.icon.facebook:before { content: "\f231"; }
.icon.email:before { content: "\f10f"; }
.icon.submit:before { content: "\f16c"; }

/***********************************************************************************
  
Containers
  
************************************************************************************/

.row {
    width: 100%;
    position: relative;
}

.content {

}

/***********************************************************************************
  
Body
  
************************************************************************************/

body {
    background-color: #2c3e50;
}

body::after {
    border-right: 1px dashed;
    
    width: 1px;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 100px;
    z-index: -1;
    
    content: "";
}

/***********************************************************************************
  
Header
  
************************************************************************************/

#header {
    border-bottom: 1px dashed;
    padding-bottom: 50px;
    display: none;
    font-size: 25px;
}
.logo {
  display: block;
  width: 100px;
  margin: 20px auto;
}

#header .status {
    height: 1px;
    
    position: absolute;
    bottom: -1px;
    left: 0;
}

#header .status span {
    border-left: 1px solid;
    
    font-size: 12px;
    line-height: 20px;
    
    width: 1px;
    height: 21px;
    
    padding-left: 5px;
    
    position: absolute;
    top: -10px;
    right: -6px;
}

/***********************************************************************************
  
Intro
  
************************************************************************************/

#intro {
    padding: 83px 0 100px;
    
    display: none;
}

/***********************************************************************************
  
Post Subscribe
  
************************************************************************************/

#post-subscribe h1 {
    margin-bottom: 32px;
}

/***********************************************************************************
  
Subscribe
  
************************************************************************************/

#subscribe {
    margin: 15px 0 40px;
}

input[type="text"],
input[type="email"] {
    background: none;
    outline: none;
    
    border-radius: 20px 0 0 20px;
    border: none;
    border: 1px solid;
    
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 38px;
    
    width: 200px;
    height: 38px;
    
    padding: 0 20px;
    
    -webkit-appearance: none;
}

input:focus {
    outline: 0;
}

.button {
    outline: none;
    
    border-radius: 50%;
    border: none;
    
    font-size: 38px;
    line-height: 19px;
    text-align: center;
    
    width: 40px;
    height: 40px;
    
    padding: 0;
    
    position: absolute;
    top: 0;
    left: 221px;
    
    cursor: pointer;
    
    transition-duration: 0.25s;
}

#post-subscribe {
    display: none;
}

/***********************************************************************************
  
Social
  
************************************************************************************/
#social {
  margin: auto;
  width: 200px;
  display: block;
  margin-top: 50px;
}
#social a.icon {
    border-radius: 50%;
    
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    
    width: 60px;
    height: 60px;
    
    float: left;
    margin-right: -5px;
}

/***********************************************************************************
  
Brackets
  
************************************************************************************/

#groups{
    width: 1000px;
    margin: auto;
}
.group{
    padding: 20px 20px 20px 0;
    width: 30%;
    display: inline-block;
}
.group table{
    width: 100%;
}
.group h3{
    margin-bottom: 10px;
}
.group td{
    padding-bottom: 5px;
}
.advanced-cont{
    width: 30%;
    display: inline-block;
}

/***********************************************************************************
  
Brackets
  
************************************************************************************/

/*#player{
    display: none;
}
.schedule{
    display: none;
}*/
.casted{
    color: #c0392b;
}
.advanced li {
    padding-bottom: 10px;
}
.winner {
    color: #27ae60;
}
.vods{
    vertical-align: top !important;
}

/***********************************************************************************
  
Players
  
************************************************************************************/
.player {
  width: 200px;
  display: inline-block;
  padding: 0 20px 20px 0;
  transition: all 0.5s ease;
}
.player img{
  width: 100%;
}
.player:hover{
  filter: none;
  -webkit-filter: none; 
}
.player .name{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.champ-group{
  margin-top: 50px;
}
.table{
  width: 70%;
  margin: auto;
}
.table th{
  font-weight: bold;
  padding: 10px;
}