
/***************************************************************************************
  
Responsive Helpers Under 800px
  
****************************************************************************************/

@media (max-width: 800px) {

    /***********************************************************************************
      
    Containers
      
    ************************************************************************************/
    
    .content {
        margin-left: 10%;
    }
    
    #groups{
        width: 80%;
        margin-left: 10%;
    }
    /***********************************************************************************
      
    Body
      
    ************************************************************************************/
    
    body::after {
        display: none;
    }
}

/***************************************************************************************
  
Responsive Helpers Under 600px
  
****************************************************************************************/

@media (max-width: 600px) {

    /***********************************************************************************
      
    Containers
      
    ************************************************************************************/
    
    .content {
        width: 80%;
        
        margin-left: 10%;
    }
    #header{
        line-height: 50px;
        padding: 20px 0 20px 0;
    }
    #groups{
        margin-left: 10%;
        width: 80%;
    }
    .group{
        text-align: center;
        width: 100%;
    }
    /***********************************************************************************
      
    Body
      
    ************************************************************************************/
    
    body::after {
        display: none;
    }
}

/***************************************************************************************
  
Responsive Helpers Under 300px
  
****************************************************************************************/

@media (max-width: 300px) {

    /***********************************************************************************
      
    Subscribe
      
    ************************************************************************************/
    
    input[type="text"],
    input[type="email"] {
        width: 180px;
    }
    
    .button {
        left: 201px;
    }
}
